
.list-group {
    max-height: 15.5em;
    overflow-y: scroll;
}

.list-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.list-group::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    opacity: 0.5;
}

.list-group::-webkit-scrollbar-thumb {
    opacity: 0.5;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(85, 85, 85, 0.5);
}

.btn-spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 7px);
}