<div class="row">
    <div class="col-1"><h1>Anime</h1></div>
    <div class="col py-2">
        <div class="form-inline my-2 my-lg-0 float-right">
            <button id="addAnime" type="button" class="btn btn-success mr-1" onclick="loadAnimeModal(undefined, false)">Add</button>
            <button id="addAnimeFromLink" type="button" class="btn btn-success mr-1" onclick="loadAnimeModal(undefined, true)">Add from link</button>
            <button id="bulkDelete" type="button" class="btn btn-danger mr-1" onclick="displayAnimeBulkDeleteModal()" disabled>Delete</button>
            <input id="animeSearch" class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a onclick="manageSort('anime', 'name')">Name
                        <i id="animeSortName" class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col">
                    <a onclick="manageSort('anime', 'airingSeason')">Airing Season
                        <i id="animeSortAiringSeason" class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col">
                    <a onclick="manageSort('anime', 'folder')">Folder
                        <i id="animeSortFolder" class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col">
                    <a onclick="manageSort('anime', 'defaultPattern')">Pattern
                        <i id="animeSortDefaultPattern" class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col">Downloaded</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="animeTbody">
            </tbody>
        </table>
    </div>
</div>
<!-- Anime Modal -->
<div class="modal fade" id="AnimeModal" tabindex="-1" role="dialog" aria-labelledby="AnimeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AnimeModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="animeForm">
                    <input title="animeId" type="text" class="form-control" id="animeInputId" name="id" hidden>
                    <div class="form-group">
                        <label for="animeInputName">Name</label>
                        <input type="text" class="form-control" id="animeInputName" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="animeInputAiringSeason">Airing season</label>
                        <input type="text" class="form-control" id="animeInputAiringSeason" name="airingSeason"
                               placeholder="Airing season">
                    </div>
                    <div class="form-group">
                        <label for="animeInputFolder">Folder</label>
                        <input type="text" class="form-control" id="animeInputFolder" name="folder"
                               placeholder="Folder">
                    </div>
                    <div class="form-group">
                        <label for="animeInputPattern">Pattern</label>
                        <input type="text" class="form-control" id="animeInputPattern" name="defaultPattern"
                               placeholder="Pattern">
                    </div>
                    <div class="form-group">
                        <label for="animeInputShiftNumber">Shift Number</label>
                        <input type="number" class="form-control" id="animeInputShiftNumber" name="shiftEpisodeNumbers"
                               placeholder="0" min="0" value="0">
                    </div>
                    <div class="form-group">
                        <label for="animeDownloadUrl">Download Url</label>
                        <input type="text" class="form-control" id="animeDownloadUrl" name="downloadUrl"
                               placeholder="Download url">
                    </div>
                    <div class="form-group">
                        <label for="animeDetailsUrl">Details Url</label>
                        <input type="text" class="form-control" id="animeDetailsUrl" name="detailsUrl"
                               placeholder="Details url">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="saveAnime()" type="button" class="btn btn-primary position-relative">
                    <span id="saveChangeLabel" >Save changes</span>
                    <i id="saveChangeSpinner" class="fa fa-spinner fa-pulse btn-spinner invisible"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- details modal -->
<div class="modal fade" id="DetailsModal" tabindex="-1" role="dialog" aria-labelledby="DetailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailsModalLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <h5>Details url: <a id="detailsUrl" href="" target="_blank"></a></h5>
                    <h5>Download url: <a id="downloadUrl" href="" target="_blank"></a></h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Episode</th>
                                <th scope="col">Link</th>
                            </tr>
                            </thead>
                            <tbody id="detailsTbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>$(function () {
    if (animes.length === 0) {loadAnimes()} else {loadAnimeTable()}
    $('#navAnime').addClass("active");
    $('#navPattern').removeClass("active");
    document.querySelector('#animeInputName').addEventListener('input', copyName);
    document.querySelector('#animeSearch').addEventListener('input', loadAnimeTable);
    displaySort();
});</script>