<div class="row">
    <div class="col-1"><h1>Pattern</h1></div>
    <div class="col py-2">
        <div class="form-inline my-2 my-lg-0 float-right">
            <button id="unlinkedOnly" type="button" class="btn btn-secondary mr-1" onclick="toggleUnlinked()">Unlinked Only</button>
            <button id="bulkDelete" type="button" class="btn btn-danger mr-1" onclick="displayPatternBulkDeleteModal()" disabled>Delete</button>
            <input id="patternSearch" class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a onclick="manageSort('pattern', 'pattern')">Pattern
                        <i id="patternSortPattern" class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col">
                    <a onclick="manageSort('pattern', 'linkedAnime')">Linked Anime
                        <i id="patternSortLinkedAnime" class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="patternTbody">
            </tbody>
        </table>
    </div>
</div>
<!-- Pattern Modal -->
<div class="modal fade" id="PatternModal" tabindex="-1" role="dialog" aria-labelledby="AnimeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AnimeModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="patternForm">
                    <input title="patternId" type="text" class="form-control" id="patternInputId" name="id" hidden>
                    <input title="linkedAnimeId" type="text" class="form-control" id="patternInputLinkedAnime" name="linkedAnime" hidden>
                    <div class="form-group">
                        <label for="patternInputPattern">Pattern</label>
                        <input type="text" class="form-control" id="patternInputPattern" name="pattern" placeholder="pattern" disabled>
                    </div>
                    <div class="form-group">
                        <label for="patternInputAnimeSearch">Anime</label>
                        <input type="text" class="form-control form-control-sm" id="patternInputAnimeSearch" placeholder="anime">
                        <div class="list-group my-2" id="patternInputAnimeList">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="savePattern()" type="button" class="btn btn-primary position-relative">
                    <span id="saveChangeLabel" >Save changes</span>
                    <i id="saveChangeSpinner" class="fa fa-spinner fa-pulse btn-spinner invisible"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script>$(function () {
    if (patterns.length === 0) {loadPatterns()} else {loadPatternTable()}
    $('#navAnime').removeClass("active");
    $('#navPattern').addClass("active");
    document.querySelector('#patternSearch').addEventListener('input', loadPatternTable);
    document.querySelector('#patternInputAnimeSearch').addEventListener('input', filterPatternModal);
    displaySort();
});</script>